<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KaylaGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB457FC31DF4C873005C23EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB457FD71DF4C874005C23EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB457FE21DF4C874005C23EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
